.draw-container-backdrop {
  z-index: 998;
  background-color: #00000050;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.draw-container {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 1000;
  transform: translateX(100%);
  transition: 0.5s;
  max-height: 100vh;
  min-width: 450px;
}

.draw-active {
  transform: translateX(0);
}

.custom-select {
  position: relative;

  .options {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    .option {
      padding: 10px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: #e4e6ef;
      }
    }
  }
}

.custom-select-drop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}
